/*
 * only make Card, Teaser nice. chips and tags can also be here.
**/
.Card,
.node--view-mode-card {
  border: 1px solid var(--text-color);
  border-radius: 0.4em;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em; }

.node--view-mode-teaser {
  border: 1px solid var(--text-color);
  border-radius: 0.4em;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  max-width: 90vw; }
