@charset "UTF-8";
/*
 * only make Card, Teaser nice. chips and tags can also be here.
**/
.Card,
.node--view-mode-card,
.node--view-mode-teaser {
  border: 1px solid var(--text-color);
  border-radius: 0.4em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 100%;
  background-color: var(--bg-color-2); }

.SectionAbout10 {
  padding: 40px; }
  .SectionAbout10 .container-2 {
    padding: 0 40px 40px 40px; }
    .SectionAbout10 .container-2 img {
      max-width: 100%;
      height: auto;
      border: 1px dotted var(--text-color);
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); }

.pushup-80px {
  margin-top: -120px;
  background-color: var(--bg-color);
  padding: 120px 40px 40px 40px;
  z-index: 10;
  position: relative; }

.SectionAbout3cards {
  padding: 100px 0; }
  .SectionAbout3cards .CardW {
    margin: 1em; }
  .SectionAbout3cards .svg-wrapper {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 18px; }
    .SectionAbout3cards .svg-wrapper img {
      width: 100%;
      height: auto; }
  .SectionAbout3cards .row {
    justify-content: space-between; }
  .SectionAbout3cards .rows-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    .SectionAbout3cards .rows-wrapper .dots {
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -42%);
      z-index: -1; }
    .SectionAbout3cards .rows-wrapper .Card {
      padding: 36px 20px;
      margin: 0 15px;
      text-align: center;
      background: white;
      box-shadow: 0 2px 20px #0000000f; }
      .SectionAbout3cards .rows-wrapper .Card h5 {
        margin-bottom: 23px; }

.home1-whychoose-block .row {
  justify-content: space-between; }
  .home1-whychoose-block .row > .col-md-6:first-child {
    display: flex;
    align-items: center;
    width: 40%; }
  .home1-whychoose-block .row > .col-md-6:last-child {
    width: 58%; }

.home1-whychoose-block .diff-content-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .home1-whychoose-block .diff-content-wrapper .dots {
    position: absolute;
    top: 58%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -42%); }
  .home1-whychoose-block .diff-content-wrapper .row:first-child {
    flex-direction: column; }
    .home1-whychoose-block .diff-content-wrapper .row:first-child .col-sm-6:first-child {
      margin-bottom: 32px; }
  .home1-whychoose-block .diff-content-wrapper .row .col-sm-6 {
    width: unset; }
  .home1-whychoose-block .diff-content-wrapper .icon-content {
    padding: 36px 20px;
    margin: 0 15px;
    text-align: center;
    background: white;
    box-shadow: 0 2px 20px #0000000f; }
    .home1-whychoose-block .diff-content-wrapper .icon-content h5 {
      margin-bottom: 23px; }
  .home1-whychoose-block .diff-content-wrapper .svg-wrapper {
    width: 55px;
    height: 55px;
    margin: 0 auto 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #effaf4; }
    .home1-whychoose-block .diff-content-wrapper .svg-wrapper svg {
      width: 25px;
      height: 25px; }
      .home1-whychoose-block .diff-content-wrapper .svg-wrapper svg path {
        fill: var(--bs-primary); }

@media (max-width: 767.98px) {
  .home1-whychoose-block .row .col-md-6:first-child,
  .home1-whychoose-block .row .col-md-6:last-child,
  .home1-FAQ-block .row .col-md-6:last-child,
  .home1-FAQ-block .row .col-md-6:first-child {
    width: 100%; }
  .home1-whychoose-block .row .col-md-6:first-child,
  .home1-FAQ-block .row .col-md-6:first-child,
  .home1-contact-block .content-wrapper {
    margin-bottom: 30px; }
  .home1-whychoose-block .diff-content-wrapper {
    display: unset; }
  .home1-whychoose-block .diff-content-wrapper .row {
    justify-content: center; }
  .home1-whychoose-block .diff-content-wrapper .row:first-child {
    flex-direction: unset; }
  .home1-whychoose-block .diff-content-wrapper .row .col-sm-6 {
    width: 50%; } }

@media (max-width: 576.98px) {
  .home1-whychoose-block .diff-content-wrapper .dots {
    display: none; }
  .home1-whychoose-block .diff-content-wrapper .row .col-sm-6,
  .home2-whychoose-block .row .col-md-4 {
    width: 100%; }
  .home1-whychoose-block .diff-content-wrapper .row:first-child .col-sm-6:first-child {
    margin-bottom: 20px; }
  .home1-whychoose-block .diff-content-wrapper .row:first-child .col-sm-6 {
    margin-bottom: 20px; } }

@media (max-width: 991.98px) {
  .home1-whychoose-block .diff-content-wrapper {
    flex-direction: column; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .home1-whychoose-block .row:nth-child(2) {
    margin-top: 32px; } }

.SectionCalloutParallax {
  padding: 2em;
  margin-bottom: 1em;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

@media (max-width: 767px) {
  .SectionCalloutParallax {
    height: 50vh; } }

.SectionHeroVideo {
  margin-bottom: 1em;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 600px; }
  .SectionHeroVideo .content {
    position: relative;
    z-index: 5; }
  .SectionHeroVideo .hero-image {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .SectionHeroVideo video.hero-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3; }
  .SectionHeroVideo .overlay {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 4; }

/* mobile */
@media (max-width: 767px) {
  .SectionHeroVideo video.hero-video {
    display: none; }
  .SectionHeroVideo .hero-image {
    display: block; } }

.container-2 {
  margin: auto; }

.tns-outer > button {
  display: none; }

.tns-outer .tns-controls {
  text-align: right;
  margin-bottom: 0.5em; }
  .tns-outer .tns-controls > button {
    margin-right: 1em;
    border-radius: 10px;
    background: transparent; }

.tns-slider .node,
.tns-slider .node--type-slide {
  border: 2px solid var(--text-color);
  border-radius: 0.5em;
  overflow: hidden;
  margin: 0 1em 1em 0;
  padding: 1em;
  max-height: 70vh;
  min-height: 200px;
  max-width: 50vw;
  min-width: 300px; }
  .tns-slider .node img,
  .tns-slider .node--type-slide img {
    max-height: 300px;
    height: auto;
    max-width: 300px;
    max-width: 90%;
    width: auto; }

.no-navigation .tns-outer > button {
  display: none; }

.no-navigation .tns-outer .tns-nav {
  display: none; }

.no-navigation .tns-outer .tns-controls {
  display: none; }

.continuous .tns-slicer {
  transition-timing-function: linear !important; }

/* A */
article,
article.node--type-advanced-page {
  position: relative; }

/* animations */
.fade-up,
.slide-right {
  position: relative;
  z-index: 5; }

/* B */
.black-and-white,
.bw {
  filter: grayscale(100%); }
  .black-and-white img,
  .bw img {
    filter: grayscale(100%); }

.border-blue {
  border: 1px solid blue; }

.border-cyan {
  border: 1px solid cyan; }

.border-green {
  border: 1px solid green; }

.border-red {
  border: 1px solid red; }

.border-yellow {
  border: 2px solid yellow; }

/* D */
.debug {
  border: 1px solid yellow; }

/* F */
.fixed-container, .block-system-breadcrumb-block, .node--view-mode-full header .node__meta, #navbar-main,
.site-footer__top {
  margin: auto; }

@media (min-width: 576px) {
  .fixed-container, .block-system-breadcrumb-block, .node--view-mode-full header .node__meta, #navbar-main,
  .site-footer__top {
    width: 540px; } }

@media (min-width: 768px) {
  .fixed-container, .block-system-breadcrumb-block, .node--view-mode-full header .node__meta, #navbar-main,
  .site-footer__top {
    width: 720px; } }

@media (min-width: 992px) {
  .fixed-container, .block-system-breadcrumb-block, .node--view-mode-full header .node__meta, #navbar-main,
  .site-footer__top {
    width: 960px; } }

@media (min-width: 1200px) {
  .fixed-container, .block-system-breadcrumb-block, .node--view-mode-full header .node__meta, #navbar-main,
  .site-footer__top {
    width: 1140px; } }

footer.site-footer {
  background-position: center; }
  footer.site-footer .block {
    border: 0; }

/* H */
#header {
  padding: 0 1em; }

/* I */
/* doesn't work b/c covers the whole viewport and is ugly:
// article .image-hero:first-child {
//   background-attachment: fixed;
// }



/* M */
main.main-content {
  margin: 0;
  padding: 0; }

.more-link {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1em; }
  .more-link a::after {
    content: " →"; }

/* N */
header .node__meta {
  margin-bottom: 0.5em; }

article.node--view-mode-full:not(.node--type-issue) {
  padding-top: 1.6em; }

/* S */
.block-content-section_slider_images .field--name-field-subtitle {
  text-align: center; }

.block-content-section_slider_images article.node--type-slide > header {
  display: none; }

.sf-accordion-toggle {
  display: flex;
  justify-content: flex-end; }

/* T */
.tabs {
  position: relative;
  z-index: 10; }

.text-formatted img {
  max-width: 100%;
  padding: 0.6em; }

#navbar-main {
  background-color: transparent !important; }

.field--name-field-image-thumb img {
  max-width: 100%;
  height: auto; }

@media (min-width: 767px) {
  .only-mobile {
    display: none; } }

@media (max-width: 767px) {
  .no-mobile {
    display: none; } }

/* W */
.width-100px {
  width: 100px; }

.width-200px {
  width: 200px; }

.width-400px {
  width: 400px; }

.width-500px {
  width: 500px; }

.width-600px {
  width: 600px; }

/* field_image_hero of advanced_page */
h1.title {
  display: flex;
  justify-content: center; }
  h1.title .field--name-title {
    background-color: var(--bg-color-transparent, var(--bg-color));
    padding: 0 0.5em; }

.image-hero {
  position: absolute;
  top: calc( -1 * ( var(--image-hero-height) + 100px ));
  left: 0;
  width: 100%;
  height: calc( var(--image-hero-height) + 100px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; }
