.node--view-mode-slide-style-1 .card-folder {
  max-width: 300px; }

.node--view-mode-slide-style-1 .first-col {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  overflow: visible; }
