
:root {
  --header-bg: #ddd;
  --header-bg-scrolled: #ccc;

  --header-height: 92px;
  --image-hero-height: 250px; // 250px + height of h1.title ?
}


#header {
  z-index: 20;
  background-color: var(--header-bg);
  a {
    color: var(--header-link-color);
  }
}
.navbar-brand {
  display: flex;
  align-items: center;
}

.PageIssue {
  main#content {
    margin: 0;
    padding: 0;
  }
  .node__content {
    margin-top: 0;
  }
}

button.navbar-toggler {
  background: var(--bg-color);
  // margin-right: 1em;
}

@media (min-width: 767px) {
  body:not(.scrolled) {
    #header {
      background: var(--header-bg);
      position: absolute;
      top: 0;
      width: 100%;
    }
    #main-wrapper {
      #main {
        margin-top: var(--image-hero-height);
      }
    }
    .PageIssue #main-wrapper {
      #main {
        margin-top: 0;
      }
    }
  }
  body.scrolled {
    #navbar-main {
      height: var(--header-height);
    }
    .navbar-collapse.show ul.navbar-nav {
      background-color: var(--header-bg-scrolled);
      padding-left: 1em;
    }
    #header {
      background: var(--header-bg-scrolled);
      position: sticky;
      top: 0;

      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

      height: var(--header-height);
    }
    .PageIssue #main-wrapper {
      #main {
        margin-top: calc( -1 * var(--header-height) );
      }
    }
    #page-wrapper:not(.PageIssue) #main-wrapper {
      #main {
        // margin-top: calc( -1 * var(--header-height) );
        margin-top: calc( var(--image-hero-height) - var(--header-height) );
      }
    }
    .region-top-header {
      display: none;
    }
  }
}

