
:root {
  --header-height: 92px;
  --header-expanded-height: 180px;
  --header-bg: rgba(0,0,0, 0.5);
  --header-bg-scrolled: rgba(0,0,0, 0.2);
  --header-color: white;
  --header-link-color: white;
}

#header {
  z-index: 20;

  background-color: var(--header-bg);

  a {
    color: var(--header-link-color);
  }
}
.navbar-brand {
  display: flex;
  align-items: center;
}

.PageIssue {
  main#content {
    margin: 0;
    padding: 0;
  }
  .node__content {
    margin-top: 0;
  }
}


@media (min-width: 767px) {
  body:not(.scrolled) {
    #header {
      background-color: var(--header-bg-scrolled);

      position: absolute;
      top: 0;

      width: 100%;

    }
    #main-wrapper {
      #main {
        margin-top: var(--header-expanded-height);
      }
    }
    .PageIssue #main-wrapper {
      #main {
        margin-top: 0;
      }
    }
  }
  body.scrolled {
    #navbar-main {
      height: var(--header-height);
    }
    #header {
      position: sticky;
      top: 0;

      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

      height: var(--header-height);
    }
    .PageIssue #main-wrapper {
      #main {
        margin-top: calc( -1 * var(--header-height) );
      }
    }
    .region-top-header {
      display: none;
    }
  }
}

