
@import './card.scss';
@import './chip.scss';
// @import './fancy-header.scss';
@import './section-about-10.scss';
@import './section-callout-parallax.scss';
@import './section-hero-video.scss';
@import './section-list-10.scss';
@import './tiny-slider.scss';

.sf-accordion-toggle {
  display: flex;
  justify-content: flex-end;
}

#header {
  padding: 0 1em; // just for the smallest screens
}
#navbar-main {
  background-color: transparent !important;
  // flex-wrap: nowrap;
}

.tabs {
  position: relative;
  z-index: 10;
}

.debug {
  border: 1px solid yellow;
}

footer.site-footer .block {
  border: 0;
}

.field--name-field-image-thumb {
  img {
    max-width: 100%;
    height: auto;
  }
}


@media (min-width: 767px) {
  .only-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}

/*
 * utilities, below
**/

.border-cyan {
  border: 1px solid cyan;
}
.border-red {
  border: 1px solid red;
}
.border-yellow {
  border: 1px solid yellow;
}

.fixed-container {
  margin: auto;
}
@media (min-width: 576px) {
  .fixed-container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .fixed-container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .fixed-container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .fixed-container {
    width: 1140px;
  }
}
// #header,
#navbar-main,
.site-footer__top {
  @extend .fixed-container;
}

.width-100px { width: 100px; }
.width-200px { width: 200px; }
.width-400px { width: 400px; }


/* field_image_hero of advanced_page */

h1.title {
  display: flex;
  justify-content: center;

  .field--name-title {
    background-color: var(--bg-color-transparent, var(--bg-color));
    padding: 0 0.5em;
  }
}

article,
article.node--type-advanced-page {
  position: relative;
}
.image-hero {
  position: absolute;
  top: calc( -1 * ( var(--image-hero-height) + 100px ) );
  left: 0;
  width: 100%;
  height: calc( var(--image-hero-height) + 100px );

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  z-index: -1;
}
