
@import './card.scss';
@import './chip.scss';
// @import "./comments.scss"; /* this is in city_drupal_theme, keep it in one place. */
@import './section-about-10.scss';
@import './section-about-3cards.scss';
@import './section-callout-parallax.scss';
@import './section-hero-video.scss';
@import './section-list-10.scss';
@import './tiny-slider.scss';

/* A */

article,
article.node--type-advanced-page {
  position: relative;
}

/* animations */

.fade-up,
.slide-right {
  position: relative;
  z-index: 5;
}

/* B */

.black-and-white,
.bw {
  filter: grayscale(100%);

  img {
    filter: grayscale(100%);
  }
}

.block-system-breadcrumb-block {
  @extend .fixed-container;
}

.border-blue {
  border: 1px solid blue;
}

.border-cyan {
  border: 1px solid cyan;
}
.border-green {
  border: 1px solid green;
}
.border-red {
  border: 1px solid red;
}
.border-yellow {
  border: 2px solid yellow;
}

/* D */

.debug {
  border: 1px solid yellow;
}


/* F */

.fixed-container {
  margin: auto;
}
@media (min-width: 576px) {
  .fixed-container { width: 540px; }
}
@media (min-width: 768px) {
  .fixed-container { width: 720px; }
}
@media (min-width: 992px) {
  .fixed-container { width: 960px; }
}
@media (min-width: 1200px) {
  .fixed-container { width: 1140px; }
}

footer.site-footer {

  background-position: center;

  .block {
    border: 0;
  }
}

/* H */

#header {
  padding: 0 1em; // just for the smallest screens
}

/* I */


/* doesn't work b/c covers the whole viewport and is ugly:
// article .image-hero:first-child {
//   background-attachment: fixed;
// }



/* M */

main.main-content {
  margin: 0;
  padding: 0;
}

.more-link {

  width: 100%;

  display: flex;
  justify-content: center;

  padding-bottom: 1em;

  a::after {
    content: " →";
  }
}

/* N */

header .node__meta {
  margin-bottom: 0.5em;
}
/* turns out this cannot happen. I have to think more. */
// .node--view-mode-full {
//   header .node__meta {
//     @extend .fixed-container;
//   }
// }

article.node--view-mode-full:not(.node--type-issue) {
  padding-top: 1.6em;
}


/* S */

.block-content-section_slider_images {
  .field--name-field-subtitle {
    text-align: center;
  }

  article.node--type-slide > header {
    display: none;
  }
}


.sf-accordion-toggle {
  display: flex;
  justify-content: flex-end;
}

/* T */


.tabs {
  position: relative;
  z-index: 10;
}

.text-formatted {
  img {
    max-width: 100%;
    padding: 0.6em;
  }
}


#navbar-main {
  background-color: transparent !important;
  // flex-wrap: nowrap;
}


.field--name-field-image-thumb {
  img {
    max-width: 100%;
    height: auto;
  }
}


@media (min-width: 767px) {
  .only-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}

/* U */

.user-login-form {
  padding: 0 0.5em;
  max-width: 600px;
  margin: auto;
}



/* W */

.width-100px { width: 100px; }
.width-200px { width: 200px; }
.width-400px { width: 400px; }
.width-500px { width: 500px; }
.width-600px { width: 600px; }

// #header,
#navbar-main,
.site-footer__top {
  @extend .fixed-container;
}

/* field_image_hero of advanced_page */

h1.title {
  display: flex;
  justify-content: center;

  .field--name-title {
    background-color: var(--bg-color-transparent, var(--bg-color));
    padding: 0 0.5em;
  }
}

.image-hero {
  position: absolute;
  top: calc( -1 * ( var(--image-hero-height) + 100px ) );
  left: 0;
  width: 100%;
  height: calc( var(--image-hero-height) + 100px );

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  z-index: -1;
}
