
@import './section-hero-video.scss';
@import './style-bordered.scss';
@import './tiny-slider.scss';

body {
  background: var(--bg-color);
  color: var(--text-color);
}

#navbar-main {
  background-color: transparent !important;
}

.tabs {
  position: relative;
  z-index: 10;
}

.bordered {
  border: 1px solid yellow;
}


@media (min-width: 767px) {
  .only-mobile {
    display: none;
  }

}
@media (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}
