
.SectionAbout3cards {
  // border: 1px solid red;

  padding: 100px 0;

  .CardW {
    margin: 1em;
  }

  .svg-wrapper {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 18px;

    img {
      width: 100%;
      height: auto;
    }
  }


  .row {
    justify-content: space-between;
  }


  .rows-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    .dots {
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -42%);
      z-index: -1;
    }

    .Card {
      padding: 36px 20px;
      margin: 0 15px;
      text-align: center;
      background: white;
      box-shadow: 0 2px 20px #0000000f;

      h5 {
        margin-bottom: 23px;
      }
    }

  }

}

.home1-whychoose-block {
  .row {
    justify-content: space-between;

    > .col-md-6 {
      &:first-child {
        display: flex;
        align-items: center;
        width: 40%;
      }

      &:last-child {
        width: 58%;
      }
    }
  }

  .diff-content-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dots {
      position: absolute;
      top: 58%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -42%);
    }

    .row {
      &:first-child {
        flex-direction: column;

        .col-sm-6:first-child {
          margin-bottom: 32px;
        }
      }

      .col-sm-6 {
        width: unset;
      }
    }

    .icon-content {
      padding: 36px 20px;
      margin: 0 15px;
      text-align: center;
      background: white;
      box-shadow: 0 2px 20px #0000000f;

      h5 {
        margin-bottom: 23px;
      }
    }

    .svg-wrapper {
      width: 55px;
      height: 55px;
      margin: 0 auto 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #effaf4;

      svg {
        width: 25px;
        height: 25px;

        path {
          fill: var(--bs-primary);
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  .home1-whychoose-block .row .col-md-6:first-child,
  .home1-whychoose-block .row .col-md-6:last-child,
  .home1-FAQ-block .row .col-md-6:last-child,
  .home1-FAQ-block .row .col-md-6:first-child {
    width: 100%;
  }
  .home1-whychoose-block .row .col-md-6:first-child,
  .home1-FAQ-block .row .col-md-6:first-child,
  .home1-contact-block .content-wrapper {
    margin-bottom: 30px;
  }
  .home1-whychoose-block .diff-content-wrapper {
    display: unset;
  }
  .home1-whychoose-block .diff-content-wrapper .row {
    justify-content: center;
  }
  .home1-whychoose-block .diff-content-wrapper .row:first-child {
    flex-direction: unset;
  }
  .home1-whychoose-block .diff-content-wrapper .row .col-sm-6 {
    width: 50%;
  }
}
@media (max-width: 576.98px) {
  .home1-whychoose-block .diff-content-wrapper .dots {
    display: none;
  }
  .home1-whychoose-block .diff-content-wrapper .row .col-sm-6,
  .home2-whychoose-block .row .col-md-4 {
    width: 100%;
  }
  .home1-whychoose-block
    .diff-content-wrapper
    .row:first-child
    .col-sm-6:first-child {
    margin-bottom: 20px;
  }
  .home1-whychoose-block .diff-content-wrapper .row:first-child .col-sm-6 {
    margin-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .home1-whychoose-block .diff-content-wrapper {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .home1-whychoose-block .row:nth-child(2) {
    margin-top: 32px;
  }
}
