
.no-navigation {
  .tns-outer {
    &> button {
      display: none;
    }
    .tns-nav {
      display: none;
    }
    .tns-controls {
      display: none;
    }
  }
}

.my-slider article.node {
  // border: 2px solid var(--text-color);
  border-radius: 0.5em;

  background: #333;

  overflow: hidden;

  margin: 0 1em 1em 0;
  padding: 1em;

  max-height: 400px;
  height: 400px;

  img {
    max-height: 300px;
    max-width: 300px;
    height: auto;
  }
}
