
.no-navigation {
  .tns-outer {
    &> button {
      display: none;
    }
    .tns-nav {
      display: none;
    }
    .tns-controls {
      display: none;
    }
  }
}

.node--type-slide.node--view-mode-full {
  border: 2px solid cyan;
  background: #333;

  max-height: 400px;
  height: 400px;

  img {
    max-height: 300px;
    max-width: 300px;
    height: auto;
  }
}
